
/*Answer boxes*/
.buttons1 {
  background-color: rgb(49, 0, 128);
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

/*Begin and next and restart boxes*/
.buttons2 {
  background-color: rgb(49, 0, 128);
  color: white;
  width: 200px;
  height: 30px;
  border-radius: 5px;
}

/*Center text*/
#font1 {
  text-align: center;
  font-size: large;
  color: black;
  clear: right;
}

/*Timer*/
#timer {
  float: right;
}