#frame1 {
  border-radius: 5px;
  background-color: white;
}

.buttons1 {
  background-color: rgb(49, 0, 128);
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

.buttons2 {
  background-color: rgb(49, 0, 128);
  color: white;
  width: 200px;
  height: 30px;
  border-radius: 5px;
}

#font1 {
  text-align: center;
  font-size: large;
  color: black;
  clear: right;
}

#timer {
  float: right;
}